@{
    ViewData["Title"] = "Home Page";
}

@*bring in the model to be used for this page*@
@model IEnumerable<string>

@*welcome to page*@
<div class="text-center">
    <h1 class="display-4">Welcome to Jackson's food recommendations!</h1>
</div>

<br />

@*button to allow users to submit their own recommendation*@
<div class="btn-group-lg text-center" role="group">
    <a class="btn btn-primary" asp-action="TheirRestaurantSubmit">Submit Your Own Restaurant</a>
</div>

<br />
<br />

<div class="text-center">
    <h3>Check out my recommendations here:</h3>
</div>

<br />

@*list that will be populated with MY restaurant recommendations from the Restaurant.cs model*@
<div class="list-group">
    <ul>
        @*go through each item in the model and create a new list item out of it*@
        @foreach (string s in Model)
        {
            <li class="list-group-item">@s</li>
        }
    </ul>
</div>



@*Stuff below isn't used, but it seems like you should be able to make a table out of the information. 
  It wasn't working for me so I just commented out what I had so far. *@


@*<div>
        <table>
            <thead>
                <tr><th>Rank</th><th>Name</th><th>FaveDish</th><th>Address</th><th>Phone Number</th><th>WebLink</th></tr>
            </thead>

            <tbody>
                @foreach (Assignment_4___Jackson_vdw.Models.Restaurant r in Model)
                {
                    <tr>
                        <td>@r.Rank</td>
                        <td>@r.Name</td>
                        <td>@r.FaveDish</td>
                        <td>@r.Address</td>
                        <td>@r.PhoneNumber</td>
                        <td>@r.WebLink</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>*@

@*<div class="list-group">
        <ul>
            {
                <li class="list-group-item">@r.Rank</li>
                <li class="list-group-item">@r.Name</li>
                <li class="list-group-item">@r.FaveDish</li>
                <li class="list-group-item">@r.Address</li>
                <li class="list-group-item">@r.PhoneNumber</li>
                <li class="list-group-item">@r.WebLink</li>
            }
        </ul>
    </div>*@
